{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <style>
        .sign {
            margin-left: 0;
            margin-top: 8%;
        }

        .bg-gray-100 {
            text-align: center;
        }

        .text-home {
            margin-top: 4%;
        }
    </style>
</head>
<body class="bg-gray-100">
<div class="text-home">
    <a href="/" style="color: black; font-size: 35px;"><strong>Booking Airplane Tickets</strong></a>
</div>
<div id="wrapper" class="sign">
    <div>
        <h1> Sign Up</h1>
        <div>
            <style>
                h5 {
                    color: red;
                }
            </style>
            {% for message in messages %}
                <h5>{{ message }}</h5>
            {% endfor %}
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="firstname" placeholder="First Name" pattern="[A-Za-z]+" required>
            <br><input type="text" name="lastname" placeholder="Last Name" pattern="[A-Za-z]+" required>
            <br><input type="text" name="username" placeholder="Username" required>
            <br><input type="email" name="email" placeholder="Email" required>

            <div class="company">
                <input type="checkbox" id="companyCheckbox"/>
                I am part of a company
                <br><input type="text" name="company" id="company" placeholder="Company" pattern="[A-Za-z0-9\s]+"
                           hidden>
            </div>

            <script>
                document.getElementById('companyCheckbox').onchange = function () {
                    document.getElementById('company').hidden = !this.checked;
                };
            </script>

            <input type="password" name="password" placeholder="Password" required>
            <br><input type="password" name="password2" placeholder="Confirm Password" required>
            <br>
            <button type="submit">Sign Up</button>
            <div>
                <p class="text-base"> Do you have an account? <a href="/signin"> Log in </a></p>
            </div>
        </form>
    </div>
</div>
</body>
</html>